.scroll-list-container {
  position:absolute;
  width: 95vw;
  left: 2.5vw;
  background-color: rgba(135, 253, 67, 0.315);
}

.scroll-list {
  height: 30vh;
  overflow-y: auto;
  padding: 6vw;
}

.scroll-list::-webkit-scrollbar {
  display: none;
}

.scroll-list::-webkit-scrollbar-track {
  display: none;
}

.scroll-list::-webkit-scrollbar-thumb {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: none;
}

.item {
  padding: 16px;
  background-color: #170d27;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.item.selected {
  background-color: #271e37;
}

.item-text {
  color: white;
  margin: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(to top, #060010, transparent);
  pointer-events: none;
  transition: opacity 0.3s ease;
}
