

@media (max-width: 480px) {
 
  .topintro{
    height: 8vh;
    position: relative;
    width: 100vw;
     background: linear-gradient(135deg, #1a472a 0%, #2d6a4f 50%, #1b4332 100%);
    box-shadow: 0 10px 40px rgba(57, 255, 20, 0.2);
    border: 1px solid rgba(57, 255, 20, 0.3);
  }
  .username {
     font-size: 1.6rem;
     margin-top: 2vh;
     color: aliceblue;
  }
  .creatpost{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: seashell;
    top: 20;
    right: 100;
  }
  .profile{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: seashell;
    margin-top: 1vh;
    margin-left: 3vw;
    
  }
}
