

@media (max-width: 480px) {
 #maindiv{
    height: 100vh;
    background-color:black;
  }
  #topintro{
    height: 10vh;
    position: relative;
    width: 100vw;
      background-color: greenyellow;
  }
  #topintro > h1 {
     font-size: 2.5rem;
     margin-left: 2vh;
     margin-top: 10;
     position: absolute;
  }
  #creatpost{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    background-color: seashell;
    position: absolute;
    top: 20;
    right: 100;
  }
  #profile{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: seashell;
    position: absolute;
    top: 7;
    right: 13;
  }
}
