@media (max-width: 480px) {
  #profilephoto{
    width: 7vh;
    height: 7vh;
    position: absolute;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    background-color:aliceblue;
    border-radius: 100%;
    color:red ;
  }
  #posts{
    color:red ;
    width: 93vw;
    height: 45vh;
    margin-left: 1vw;
    position: relative;
  }

  #profilename{
   color:red ;
    position: absolute;
    width: 77vw;
    background-color:aliceblue;
    height: 6vh;
    margin-top: 3.6vh;
    border-radius: 5%;
    margin-left: 10vw;
  }
  
  #postphoto{
    color:red ;
    position: absolute;
    width: 80vw;
    height: 30vh;
    margin-top: 11vh;
    margin-left: 6.5vw;
    border-radius: 5%;
    background-color: aliceblue;
  }
}