@media (max-width: 480px) {
  .profilepage {
    height: 100vh;
    background-color: black;
    color: white;
  }
  .profileup {
    height: 35vh;
    z-index: 2;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: yellowgreen;
  }
  .imgbar{
    height: 33vh;
    display: flex;
  }
  .img{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    margin-left:  5vw;
    background-color: black;
  }
  .imguserbox{
    margin-left: 30%;
    margin-top: 8vh;
  }
  .back{
    background-color: aqua;
    width: 20vw;
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
    top: 2.5vh;
    border: 3px solid black;
    border-radius: 1vh;
    left: 4vw;
    text-align: center;
    height: 5vh;
    position: absolute;
  }
  .followbox{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 0;
  }
  .postcount{
    color: black;
    height: 6vh;
    width: 30vw;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 3vh;
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
    gap: 2vw;
    font-size: 1.5rem;
    justify-content: center;
  }
  .postcard{
    background-color: aqua;
    height: 13vh;
    border-radius: 0.5rem;
    width: 95vw;
    display: flex;
    flex-direction: row;
    margin-left: 2.5vw;
  }
  .postcardpara{
    height: 12vh;
    width: 55vw;
    margin-top: -1vh;
    font-size: 1.4rem;
    overflow: hidden;
    margin-left: 6vw;
  }
  .grid {
  /* background-color: lightpink; */
  height: 40vh; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
  .posting {
    object-fit: cover;
    overflow: hidden;
  }
  .imgbox {
    overflow: hidden;
    height: 11vh;
    margin-top: 1vh;
    margin-left: 2vw;
    width: 30vw;
    background-color: lightgreen;
  }
  .card {
  background-color: rgba(38, 58, 68, 0.795);
  display: flex;  
  flex-direction: row; 
  margin-top: 1vh;
  align-items: center;
  flex-shrink: 0;  
  height: 13vh;
  border-radius: 0.5rem;
  width: 100%;  
  overflow: hidden;
}
  
}
