@media (max-width: 480px) {
  .profilepage {
    height: 100vh;
    background-color: black;
    color: white;
  }
  .profileup {
    height: 35vh;
    z-index: 2;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: yellowgreen;
  }
  .imgbar{
    height: 33vh;
    display: flex;
  }
  .img{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    margin-left:  5vw;
    background-color: black;
  }
  .imguserbox{
    margin-left: 5vw;
    background-color: aqua;
    width: 90vw;
 
    margin-top: 8vh;
  }
  .back{
    background-color: aqua;
    width: 15vw;
    height: 5vh;
    position: absolute;
  }
  .followbox{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 0;
  }
  .postcount{
    color: black;
    height: 6vh;
    width: 30vw;
    align-items: center;
    border-radius: 0.5rem;
    margin-top: 3vh;
    display: flex;
    background-color: aliceblue;
    flex-direction: row;
    gap: 2vw;
    font-size: 1.5rem;
    justify-content: center;
  }
  .postcard{
    background-color: aqua;
    height: 13vh;
    border-radius: 0.5rem;
    width: 95vw;
    display: flex;
    flex-direction: row;
    margin-left: 2.5vw;
  }
  .postcardpara{
    height: 11vh;
    width: 63vw;
    font-size: 1.4rem;
    margin-left: 30vw;
    margin-top: 1vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.809);
  }
}
